<!-- Inherit code from base.html -->
{% extends "base.html" %}
<!-- Content block to ovveride (replace) -->
{% block content %}
<!-- HTML form which sends post request to home page when click submit -->
<form method="post" class="buttons"> <!-- Class buttons for CSS styling -->
    <h3>Enter the Chat Room</h3>
    <div>
        <label>Name:</label>
        <input type="text" placeholder="Pick a name!" name="name" value="{{ name }}"/> <!-- Here, name is the key of the data when form is submitted -->
        <!-- Pass back name as input if user makes mistake -->
    </div>
    <div class="join"> <!-- Join div is styled in style.CSS -->
        <input type="text" placeholder="Room Code" name="code" value="{{ code }}"/>
        <button type="submit" name="join">Join a Room</button>
    </div>
    <button type="submit" name="create" class="create-btn">Create a Room</button> <!-- create-btm class styled in CSS-->

    <!-- Display error if present -->
    {% if error %}
    <ul>
        <li> {{ error }}</li>
    </ul>
    {% endif %}
</form>
{% endblock %}